**/build
**/todo
**/out
**/node_modules
**/*.bak
**/*.vsix
**/*.app
**/*.g.xlf
**/npm-debug.log
**/.alcache
**/.alpackages
**/.altemplates
**/.vscode/*
!**/.vscode/launch.json.default
**/todo/*
**/.vs
**/*.ps1
**/*.code-workspace
**/*.zip
**/permissionsAnalyzer.json
my
